Package: c-n-vpipeline-dbgsym
Package-Type: ddeb
Source: c-n-vpipeline
Version: 0.0.1~rc1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 1093
Depends: c-n-vpipeline (= 0.0.1~rc1)
Section: debug
Priority: optional
Description: debug symbols for c-n-vpipeline
Build-Ids: 4b98058cab76fdaa7d7700dbbcee460a2bebebb2 d2a249dcd2a5d065bf67aaf750c691065a88a4ae
