Package: c-n-vpipeline-dbgsym
Package-Type: ddeb
Source: c-n-vpipeline
Version: 0.0.1~rc1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 1093
Depends: c-n-vpipeline (= 0.0.1~rc1)
Section: debug
Priority: optional
Description: debug symbols for c-n-vpipeline
Build-Ids: 85d65be42a5054874ca9fe97996e2cce56eafbe0 b63b05a15c2228a626edd3810d8b9e4b75c3b47d
